<html>
	<head>
		<meta charset="UTF-8">
		<title> Login </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">	
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">	
	</head>
    <body>
        <header id="pageHeader"> <img src="{{ url_for ('static',filename='logoedu.png')}}" style="float:left;" margin:0%;> KGiSL Educational Institutions <br>
            Department of physical education and sports<br>
            <h5 style="font-family:cursive;"> At KG we work while we work and play while we play</h5>
          </header>
            <br><br><br><br>
          <div id="topdiv">
<div align="center">
    <div align="center" class="border">
        <div class="header">
            <h1 class="word" style="margin-top:4px;"> Student Login</h1>
        </div></br>
        <h2 class="word">
            <form action="{{ url_for('student')}}" method="post">
            <div class="msg">{{ msg }}</div>
            <label for="username" style="color:white;font-size: 15px;">  Username : </label>
            <i class="fa fa-user" style="color:white;"></i>
                <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br><br>
                <label for="username" style="color:white;font-size: 15px;">  Password :</label>
                <i class="fa fa-lock" style="color:white;margin-right:25px"></i>
                <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
                
                <button type="submit" class="bottom" style="font-size: 15px;margin-left:190px;"> <span style="color:white;">Sign in </span>  </button>
            </form>
                <label style="color:white;font-size: 15px;margin:0px;"> Not yet registered ? </label>
                <a  href="{{url_for('register')}}"><button type="submit" class="bottom" style="font-size: 15px; margin:0px;"><span style="color:white;">Sign up </span> </button></a><br><br>
                <label style="color:white;font-size: 15px;margin:0px;"> Forgot password ? </label>
                <button type="submit" class="bottom" style="font-size: 15px;margin-left:0px;" ><a  href="{{url_for('forgotpwd')}}"><span style="color:white;">Click Here </span> </a> &nbsp;&nbsp;</button>
					
</button>         
        </body>
        </html>
               
   

